---
layout: default
---

{{ content }}
{% assign contentwonl = content | strip_newlines %} {% unless contentwonl == ""  %} <br /> {% endunless %}

{%- if site.posts.size > 0 -%}
  <ul class="posts-list">
    {%- for post in site.posts -%}
    <li class="posts">
      <span class="post-meta">
        {%- assign date_format = "%Y-%m-%d" -%}
        [ {{ post.date | date: date_format }} ]
      </span>
      <a class="post-link" href="{{ post.url | relative_url }}">{{ post.title | escape }}</a>
      {%- if post.tags.size > 0 -%}
      <div class="hlist">
        <ul>[
          {%- for tag in post.tags -%}
          <li class="post-tag"><a href="/tag/{{ tag | slugify }}">{{tag}}</a>{% unless forloop.last %},{% endunless %} </li>
          {%- endfor -%}
        ]</ul>
      </div>
      {%- endif -%}

      <!--show first 5 posts content slightly few lines -->
      {%- if forloop.index < 4 -%}
        <div class="post-content">
          {{ post.content | strip_html | truncatewords: 60 }}
          <a class="post-content-link" href="{{ post.url | relative_url }}">[ read ]</a>
        </div>
      {%- endif -%}
    </li>
    {%- endfor -%}
  </ul>
{%- endif -%}