---
layout: default
---

<h1>Tag: {{ page.tag }}</h1>

<div class="post-list">
  {% for post in site.tags[page.tag] %}
    <div class="post-item">
      <span class="post-meta">
        {%- assign date_format = "%Y-%m-%d" -%}
        [ {{ post.date | date: date_format }} ]
      </span>
      <h2>
        <a class="post-link" href="{{ post.url | relative_url }}">{{ post.title | escape }}</a>
      </h2>
      {% if post.description %}
        <p class="post-description">{{ post.description }}</p>
      {% endif %}
      {% if post.tags.size > 0 %}
        <div class="post-tags">
          {% for tag in post.tags %}
            <a href="/tag/{{ tag | slugify }}" class="post-tag">{{ tag }}</a>
          {% endfor %}
        </div>
      {% endif %}
    </div>
  {% endfor %}
</div>

<div class="all-tags">
  <h2>All Tags</h2>
  {% capture temptags %}
    {% for tag in site.tags %}
      {{ tag[1].size | plus: 1000 }}#{{ tag[0] }}#{{ tag[1].size }}
    {% endfor %}
  {% endcapture %}
  {% assign sortedtemptags = temptags | split:' ' | sort | reverse %}
  {% for temptag in sortedtemptags %}
    {% assign tagitems = temptag | split: '#' %}
    {% capture tagname %}{{ tagitems[1] }}{% endcapture %}
    <a href="/tag/{{ tagname }}" class="tag-link">
      <code class="highlighter-rouge"><nobr>{{ tagname }} ({{ tagitems[2] }})</nobr></code>
    </a>
  {% endfor %}
</div>